#top-navbar {
    background-color: #3457c1;
    width: 100%;
    position: fixed;
    top: 0;
    height: 60px;
    z-index: 1;
}

.top-navbar-part {
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
}

.top-navbar-part > * {
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    cursor: pointer;
}

#top-navbar-left {
    float: left;
}

#top-navbar-right {
    float: right;
}


.top-navbar-icon {
    color: white;
    cursor: pointer;
}


.top-navbar-part > h3 {
    text-align: center;
    padding: 0;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}
