{% include 'drawing/drawing-base.html' with problem=problem %}
{% include 'drawing/student/models.html' with problem=problem %}

<script> //problem object

window.problem = {};
window.problem.name = '{{ problem.name }}';
window.problem.goals = JSON.parse('{{ problem.goals_elements | escapejs }}');
window.problem.costs = JSON.parse('{{ problem.costs | escapejs}}');
window.problem.base64 = '{{ problem.base64 }}';
window.problem.description = '{{ problem.description | escapejs}}';
{% if solution %}
    window.problem.base64 = '{{ solution.base64 }}';
    window.solution = JSON.parse('{{ solution.jsonObject | escapejs}}');
{% endif %}

</script>


<script> // init

$(document).ready(function () {
    window.studentManager = new StudentManager('ggb-container', window.problem, window.solution);
});

</script>


<script>//green
$(document).ready(function () {
    function show_question() {
        let card = $("#question-card");
        card.show();
        card.animate({left: "5px", top: "5px"});
    }


    let green_item = $(".green-mini-menu");
    icon = $('<i class="window maximize outline large icon"></i>');
    green_item.append(icon);
    green_item.prop("title", "Problem window");
    green_item.click(show_question);
});
</script> {# green #}


<script>//lightblue
$(document).ready(function () {

    let lightblue_item = $(".lightblue-mini-menu");
    icon = $('<i class="dollar sign large icon"></i>');
    lightblue_item.append(icon);
    lightblue_item.prop("title", "Pricing");


    lightblue_item.click(window.studentManager.show_pricing_swal);
});
</script> {# lightblue #}


<script> //blue
$(document).ready(function () {

    //blue
    let blue_item = $(".blue-mini-menu");
    icon = $('<i class="list ol large icon"></i>');
    blue_item.append(icon);
    blue_item.prop("title", "Your Score");
    blue_item.click(window.studentManager.show_score_swal);
});
</script> {# blue #}


<script> //orange
$(document).ready(function () {
    let orange_item = $(".orange-mini-menu");
    icon = $('<i class="file alternate large icon"></i>');
    orange_item.append(icon);
    orange_item.prop("title", "Your Solution");
    address = location.origin + '{% url 'drawingSolutions:solution-page' problem.id request.user.username %}';
    orange_item.click(function () {
        window.open(address, '_blank');
    });
});
</script> {# orange #}

<script> //purple
$(document).ready(function () {
    let purple_item = $(".purple-mini-menu");
    icon = $('<i class="share large icon"></i>');
    purple_item.append(icon);
    purple_item.prop("title", "Your Solution");
    purple_item.click(function () {
        Swal.fire({
            title: '<strong>Share</u></strong>',
            icon: 'success',
            html: '<strong id="swal-share-address">' + location.href + '</strong>',
            showCloseButton: true,
            showCancelButton: false,
            focusConfirm: false,
            confirmButtonText:
                'Click to copy!',
            preConfirm: () => {
                var $temp = $("<input>");
                $("body").append($temp);
                $temp.val($('#swal-share-address').text()).select();
                document.execCommand("copy");
                $temp.remove();
            }
        });


        function myFunction() {
            /* Get the text field */
            var copyText = document.getElementById("myInput");

            /* Select the text field */
            copyText.select();
            copyText.setSelectionRange(0, 99999); /*For mobile devices*/

            /* Copy the text inside the text field */
            document.execCommand("copy");

            /* Alert the copied text */
            alert("Copied the text: " + copyText.value);
        }
    });
});
</script> {# purple #}


<script> //red
$(document).ready(function () {
    let red_item = $(".red-mini-menu");
    icon = $('<i class="tasks large icon"></i>');
    red_item.append(icon);
    red_item.prop("title", "All solutions");
    address = location.origin + '{% url 'drawingSolutions:solution-page' problem.id request.user.username %}';

    red_item.click(function () {
        $.ajax({
            type: 'GET',
            url: '{% url 'drawingSolutions:all solutions' problem.id %}',
            success: function (json) {
                let solutions = JSON.parse(json);

                let html_table = "<table class=\"ui very basic collapsing celled table\">\n";
                let tabel_head = "<thead><tr><th>User</th><th>Score</th><th>Solution</th></tr></thead>";
                let table_body = '<tbody>';


                Array.from(solutions).forEach(function (solution) {
                    let eye_icon = solution.public ?
                        'public<a href="' + solution.href + '"><i class="eye blue large icon"></i></a>' :
                        'private<i class="big icons"><i class="big red dont icon"></i><i class="blue eye icon"></i></i>';

                    let score = solution.score;
                    let item_html = '<tr><td><h4 class="ui image header">' +
                        '<img src="' + solution.url + '" class="ui mini rounded image">' +
                        '<div class="content">' + solution.name +
                        '<div class="sub header">' +
                        '</div></div></h4></td><td><strong style="color: green">' + score + '</strong></td>' +
                        '<td><strong style="color: green">' + eye_icon + '</strong></td></tr>';
                    table_body += item_html;
                }.bind(this));


                table_body += '</tbody>';
                html_table += html_table += tabel_head;
                html_table += table_body;
                html_table += '</tabel>';

                Swal.fire({
                    title: "Solutions",
                    html: html_table,
                    focusConfirm: false,
                    preConfirm: () => {
                    }
                });
            },
            error: function (xhr, errmsg, err) {
                console.log(xhr);
                console.log(errmsg);
                console.log(err);
                Swal.fire(
                    'Error!',
                    'error'
                );
            }
        });
    });
});
</script> {# red #}


<script> // navbar

$(document).ready(function () {
    $('#top-navbar-left').append('<i class="question big icon"></i>',
        '<h2 class="question-name" id="name">{{ problem.name }}</h3>\t&nbsp;\t&nbsp;',
        '<h2 class="question-grade" id="score"></h2>');

    $('#top-navbar-right').append(
        '<i title="Reset" class="sync big icon" id="reset"></i>',
        '<i title="Submit" class="check big icon" id="submit"></i>');

    $('#submit').click(window.studentManager.record_solution);
    $('#reset').click(window.studentManager.reset);

    $('#score').click(window.studentManager.show_score_swal);

});

</script> {# navbar #}

