{% include 'drawing/drawing-base.html' with problem=problem %}
{% include 'drawing/student/models.html' %}

<script> //problem object

window.problem = {};
window.problem.name = '{{ problem.name }}';
window.problem.goals = JSON.parse('{{ problem.goals_elements | escapejs }}');
window.problem.costs = JSON.parse('{{ problem.costs | escapejs}}');
window.problem.base64 = '{{ problem.base64 }}';
window.problem.description = '{{ problem.description | escapejs}}';


</script>


<script> // init

$(document).ready(function () {
    window.studentManager = new StudentManager('ggb-container', window.problem);
});

</script>


<script>//green
$(document).ready(function () {
    function show_question() {
        let card = $("#question-card");
        card.show();
        card.animate({left: "5px", top: "5px"});
    }


    let green_item = $(".green-mini-menu");
    icon = $('<i class="window maximize outline large icon"></i>');
    green_item.append(icon);
    green_item.prop("title", "Problem window");
    green_item.click(show_question);
});
</script> {# green #}


<script>//lightblue
$(document).ready(function () {

    let lightblue_item = $(".lightblue-mini-menu");
    icon = $('<i class="dollar sign large icon"></i>');
    lightblue_item.append(icon);
    lightblue_item.prop("title", "Pricing");


    lightblue_item.click(window.studentManager.show_pricing_swal);
});
</script> {# lightblue #}


<script> //blue
$(document).ready(function () {

    //blue
    let blue_item = $(".blue-mini-menu");
    icon = $('<i class="list ol large icon"></i>');
    blue_item.append(icon);
    blue_item.prop("title", "Your Score");
    blue_item.click(window.studentManager.show_score_swal);
});
</script> {# blue #}

<script> // navbar

$(document).ready(function () {
    $('#top-navbar-left').append('<i class="question big icon"></i>',
        '<h2 class="question-name" id="name">{{ problem.name }}</h3>\t&nbsp;\t&nbsp;',
        '<h2 class="question-grade" id="score"></h2>');

    $('#top-navbar-right').append(
        '<i title="Reset" class="sync big icon" id="reset"></i>',
        '<i title="Submit" class="check big icon" id="submit"></i>');

    $('#score').click(window.studentManager.show_score_swal);
});

</script> {# navbar #}
