<nav id="top-navbar">
    <div class="left-part-top-navbar top-navbar-part">
        <div class="top-navbar-icon">
            <i class="question big icon"></i>
        </div>
        &nbsp;
        &nbsp;
        &nbsp;
        <div class="top-navbar-icon">
            <h4>No named yet</h4>
        </div>
    </div>
    <div class="right-part-top-navbar top-navbar-part">
        <div class="top-navbar-icon">
            <i class="icon home big"></i>
        </div>
        <div class="top-navbar-icon">
            <i class="icon check big"></i>
        </div>
        <div class="top-navbar-icon">
            <i class="icon share big"></i>
        </div>
    </div>
</nav>